<div class="profile-card">
  <!-- Column 1 -->
  <div class="profile-left">
    <h2>{{ include.name }}</h2>
    <p>{{ include.description }}</p>

    <div>
      {% if include.github %}
        <a href="{{ include.github }}" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      {% endif %}
      {% if include.linkedin %}
        <a href="{{ include.linkedin }}" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      {% endif %}
       {% if include.twitter %}
        <a href="{{ include.twitter }}" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      {% endif %}
       {% if include.email %}
        <a href="mailto:{{ include.email }}" target="_blank">
          <i class="fas fa-envelope"></i>
        </a>
      {% endif %}
       {% if include.website %}
        <a href="{{ include.website }}" target="_blank">
          <i class="fas fa-globe"></i>
        </a>
      {% endif %}
    </div>
  </div>

  <!-- Column 2 -->
  <div class="profile-right">
    <img 
      src="{{ include.image }}" 
      alt="{{ include.name }}"
      style="width: {{ include.img_width | default: '200px' }};"
    >
  </div>
</div>